.partners_menu{
    h1,h3{
        text-align: center;
        color:grey;

    }
    h4{
        padding-left: 2rem;
        color:grey;
    }
    p{
        font-size: 1.5rem;
        font-weight: 400;
        color:grey;
        padding-left: 2rem;
    }
}